# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @bezbran @dwertent @rotemamsa @slashben @lavalamp @smarterclayton @deads2k @sttts @liggitt @amirmalka @amitschendel @craigbox @matthyx @krew-index-maintainers 
